SetCookie just modify the header

I noticed that the implementation of Session::SetCookie is based on CURLOPT_COOKIE. And from the document of libcurl: This option sets the cookie header explicitly in the outgoing request(s). If multiple requests are done due to authentication, followed redirections or similar, they will all get this cookie passed on. I think this behaviour is not what we expect through python's requests lib act the same. Or can we provide another API to initialize cookie engine?

Could you please elaborate a little bit on this topic? some examples would certainly help..
actually what behaviour do you expect exactly?

The problem with CURLOPT_COOKIE is that it just change request headers. Take below code as an example.

client:
```cpp
cpr::Session s;
s.SetCookies({{"status", "off"}, {"name", "debug"}});
s.SetRedirect(true);
s.SetMaxRedirects(cpr::MaxRedirects{5});
s.SetUrl(cpr::Url{"http://127.0.0.1:9999"});
auto r = s.Get();
for (auto &kv : r.cookies) {
    std::cout << kv.first << std::endl;
}
```

server(nodejs snippets):
```javascript
var express = require('express');
var cookieParser = require('cookie-parser');
var app = express();
app.use(cookieParser());
var port = 9999;

app.get('/', (req, res)=> {
    console.log(req.headers);

    if (req.cookies.status == 'off') {
        res.writeHead(302, {
            'Location': 'http://127.0.0.1:' + port + '/',
            'Set-Cookie': 'status=on'
        });
        res.end();
    } else {
        res.end('hello');
    }

});

app.listen(port);

```

What we expect:
Client send get request to server with 'status=off;name=debug' in cookie.
Server respond with status 302 and set client's cookie to 'status=on'.
Client follow server's redirection, issue another request with 'status=on;name=debug' in cookie.
Server respond 'hello'. Client print 'name\nstatus'

What we really get:
Client send get request to server with 'status=off;name=debug' in cookie.
Server respond with status 302 and set client's cookie to 'status=on'.
Client follow server's redirection, issue another request with '**status=on; name=debug; status=off;** ' in cookie.
Server respond 'hello'. Client print '**status**'

According to RFC6265 section 4.2.2

> Although cookies are serialized linearly in the Cookie header,
   servers SHOULD NOT rely upon the serialization order.  In particular,
   if the Cookie header contains two cookies with the same name (e.g.,
   that were set with different Path or Domain attributes), servers
   SHOULD NOT rely upon the order in which these cookies appear in the
   header.

Which means behaviour in this example is not reliable.
Another problem is that we can't retrieve cookies set with CURLOPT_COOKIE, eg. the client only print 'status'


Are there any suggestions how to change this?